.btn-login {
    width: 40%;
    height: 45px;
    background-color: #03AEEE;
    color: #FFFFFF;
    border: 0;
    box-shadow: 0px 3px 6px #B0E6FA;
    border-radius: 3px;
}

.btn-header-create {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    padding: 0;
    border: 0;
    background-color: #03AEEE;
    color: #FFFFFF;

    position: relative;
    z-index: 1;
}
.btn-header-create::after {
    content: "Create employee";
    padding: 5px 20px;
    border-radius: 50px;
    white-space: nowrap;
    font-size: 16px;
    background-color: #EAF9FF;
    color: #1F1F1F;
    margin-right: 200px;
    position: absolute;
    z-index: -1;
}

.btn-header-edit {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    padding: 0;
    border: 0;
    background-color: #03AEEE;
    color: #FFFFFF;

    position: relative;
    z-index: 1;
}
.btn-header-edit::after {
    content: "Edit";
    padding: 5px 20px;
    border-radius: 50px;
    white-space: nowrap;
    font-size: 16px;
    background-color: #EAF9FF;
    color: #1F1F1F;
    margin-right: 200px;
    position: absolute;
    z-index: -1;
}

.btn-submit, .btn-cancel{
    margin: 20px 20px 20px 0;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
}

.btn-submit {
    color: #FFFFFF;
    background-color: #03AEEE;
    border: 0;
}

.btn-cancel {
    background-color: #FFFFFF;
    border: 1px solid #8A8C8F;
}

.emp-list-row-option-edit {
    border: 0;
    background-color: #FFFFFF;
    color: #10AAC0;
}

.emp-list-row-option-delete {
    border: 0;
    background-color: #FFFFFF;
    color: #FA4242;
}