.btn-login {
    width: 40%;
    height: 45px;
    background-color: #03AEEE;
    color: #FFFFFF;
    border: 0;
    box-shadow: 0px 3px 6px #B0E6FA;
    border-radius: 3px;
}

.btn-submit, .btn-cancel{
    margin: 20px 20px 20px 0;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
}

.btn-submit {
    color: #FFFFFF;
    background-color: #03AEEE;
    border: 0;
}

.btn-cancel {
    background-color: #FFFFFF;
    border: 1px solid #8A8C8F;
}

.emp-list-row-option-edit {
    border: 0;
    background-color: #FFFFFF;
    color: #10AAC0;
}

.emp-list-row-option-delete {
    border: 0;
    background-color: #FFFFFF;
    color: #FA4242;
}