.heading {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background-color: #FDFDFD;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 3px 6px #9D9D9D29;
    border-radius: 10px;
    opacity: 1;
}

.header-btn {
    /* position: relative;
    z-index: 1; */
    margin-right: 200px;
}